body {

}

.thumbnail img {
    width: 100%;
    height: 100%;
}

.thumbnail {
    padding: 0;
}

.fit-image {
    height: 240px;
    overflow: hidden;
}

.bg{
    border-image-source: url("https://www.idc.ac.il/en/PublishingImages/main-slider-01.jpg");
}

.delete-form{
    display: inline;
}